# Configuration Twilio
# Copiez ce fichier en .env et remplacez les valeurs par les vôtres
TWILIO_ACCOUNT_SID=votre_compte_sid_ici
TWILIO_AUTH_TOKEN=votre_auth_token_ici
TWILIO_FROM_NUMBER=+16403335339
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_DESTINATAIRES=+21624740996

# Autres variables d'environnement si nécessaire
